{% extends 'main/layout.html' %}

{% block title %}
    <title>Добавка новостей</title>
{% endblock %}

{% block content %}

 <div class="container mt-5">
        <h2>Добавить новость</h2>
<div class="card-body">
     <form method="post">
         {% csrf_token %}
            <div class="form-group">
                <label for="title">Заголовок новости</label>
                <input type="text" class="form-control" id="title" placeholder="Заголовок новости" required>
            </div>
            <div class="form-group">
                <label for="short-description">Краткое описание новости</label>
                <input type="text" class="form-control" id="short-description" placeholder="Краткое описание новости" required>
            </div>
            <div class="form-group">
                <label for="news-content">Содержание новости</label>
                <textarea class="form-control" id="news-content" placeholder="Содержание новости" rows="4" required></textarea>
            </div>
            <div class="form-group">
                <label for="date">Дата</label>
                <input type="date" class="form-control" id="date" required>
            </div>
            <div class="form-group">
                <label for="time">Время</label>
                <input type="time" class="form-control" id="time" required>
            </div>
            <div class="form-group">
                <label for="author">Автор</label>
                <input type="text" class="form-control" id="author" placeholder="Автор" required>
            </div>
            <button type="submit" class="btn btn-primary">Добавить новость</button>
        </form>
    </div>

 </div>

{% endblock %}