{% extends 'main/layout.html' %}

{% block title %}
    <title>Первая страница на Django</title>
{% endblock %}

{% block content %}


        <h1 class="text-center mb-4">О нашем первом проекте на {{caption}}</h1>
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    В нашем первом проекте на {{caption}} мы решили создать простое веб-приложение для управления задачами. Целью данного проекта было освоение основных принципов работы с фреймворком {{caption}}, а также понимание архитектуры MVC (Model-View-Controller).
                </p>
                <p class="card-text">
                    Проект включает в себя функциональность, позволяющую пользователям создавать, редактировать и удалять задачи. Мы начали с настройки виртуального окружения и установки необходимых библиотек, включая {{caption}} и SQLite для базы данных.
                </p>
                <p class="card-text">
                    В процессе разработки мы изучили создание моделей, которые определяют структуру данных, а также настройки админ-панели для управления записями. С помощью встроенного админ-интерфейса мы смогли быстро тестировать наши модели и их взаимодействие.
                </p>
                <p class="card-text">
                    Далее мы сосредоточились на создании представлений и шаблонов, используя систему шаблонов {{caption}} для генерации HTML-страниц. Это позволило нам динамически отображать данные и улучшить пользовательский интерфейс.
                </p>
                <p class="card-text">
                    На этапе тестирования мы также узнали о важности написания тестов для проверки корректности работы приложения. Наконец, мы развернули проект на платформе Heroku, что стало отличным дополнением к нашему опыту.
                </p>
                <p class="card-text">
                    В результате, наш первый проект на {{caption}} стал не только учебным, но и успешным шагом в мир веб-разработки. Мы гордимся достигнутыми результатами и с нетерпением ждем возможности реализовать более сложные проекты в будущем.
                </p>
            </div>
        </div>


{% endblock %}
