{% extends 'main/layout.html' %}

{% block title %}
    <title>Первая страница на Django</title>
{% endblock %}

{% block content %}
    <div class="container mt-5">
    <h1>О нашем первом проекте на Django</h1>

    <p>В нашем первом проекте на Django мы решили создать простое веб-приложение для управления задачами. Целью данного проекта было освоение основных принципов работы с фреймворком Django, а также понимание архитектуры MVC (Model-View-Controller).</p>

    <p>Проект включает в себя функциональность, позволяющую пользователям создавать, редактировать и удалять задачи. Мы начали с настройки виртуального окружения и установки необходимых библиотек, включая Django и SQLite для базы данных.</p>

    <p>В процессе разработки мы изучили создание моделей, которые определяют структуру данных, а также настройки админ-панели для управления записями. С помощью встроенного админ-интерфейса мы смогли быстро тестировать наши модели и их взаимодействие.</p>

    <p>Далее мы сосредоточились на создании представлений и шаблонов, используя систему шаблонов Django для генерации HTML-страниц. Это позволило нам динамически отображать данные и улучшить пользовательский интерфейс.</p>

    <p>На этапе тестирования мы также узнали о важности написания тестов для проверки корректности работы приложения. Наконец, мы развернули проект на платформе Heroku, что стало отличным дополнением к нашему опыту.</p>

    <p>В результате, наш первый проект на Django стал не только учебным, но и успешным шагом в мир веб-разработки. Мы гордимся достигнутыми результатами и с нетерпением ждем возможности реализовать более сложные проекты в будущем.</p>
</div>
{% endblock %}
