{% extends 'main/layout.html' %}

{% block title %}
    <title>Особенности Django</title>
{% endblock %}

{% block content %}

<h1 class="text-center mb-4">Особенности Django</h1>
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    Django — это высокоуровневый веб-фреймворк на языке Python, который способствует быстрой разработке веб-приложений
                </p>
                <p class="card-text">
                    Он следует принципу "не повторяйся" (DRY), что помогает минимизировать дублирование кода и повышает его читаемость.
                </p>
                <p class="card-text">
                    Django включает встроенную административную панель, которая позволяет разработчикам легко управлять данными приложения.
                </p>
                <p class="card-text">
                    Этот фреймворк обладает мощной системой маршрутизации URL, что облегчает создание чистых и удобных адресов для страниц.
                </p>
                <p class="card-text">
                    Кроме того, Django поддерживает множество баз данных и предоставляет инструменты для работы с ними через ORM (Object-Relational Mapping), что упрощает взаимодействие с базами данных.                </p>
            </div>
        </div>
{% endblock %}