{% extends 'main/layout.html' %}

{% block title %}
    <title>Примеры использования</title>
{% endblock %}

{% block content %}
<h1 class="text-center mb-4">Примеры использования Django</h1>
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    1. **Instagram**: Эта популярная социальная сеть для обмена фотографиями изначально была разработана с использованием Django, благодаря его возможностям масштабирования и быстрого прототипирования.
                </p>
                <p class="card-text">
                    2. **Mozilla**: Команда Mozilla использует Django для разработки различных веб-приложений, включая сайт Mozilla Developer Network (MDN), который предоставляет документацию и ресурсы для разработчиков.
                </p>
                <p class="card-text">
                    3. **Disqus**: Платформа для комментариев, которая позволяет пользователям добавлять комментарии к статьям и блогам, была построена на Django, что позволило ей успешно обрабатывать большие объемы данных и пользователей.
                </p>
                <p class="card-text">
                    4. **Pinterest**: Этот сервис для обмена изображениями и вдохновения также использует Django в своей архитектуре, что помогает в управлении большими объемами контента и пользовательских данных.
                </p>
                <p class="card-text">
                    5. **Spotify**: Музыкальный сервис Spotify использует Django для создания своих веб-приложений, обеспечивая удобный интерфейс для пользователей и интеграцию с различными музыкальными API            </div>
        </div>
{% endblock %}